.formTitle {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.formBody {
  width: 600px;
  /* border: 1px green solid; */
}

/*Step 1*/

.formRow {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  /* margin-right: 1rem; */
}

.inputLabel {
  display: block;
  color: #808080;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 5px;
}

.inputLabel ~ input {
  border: 1px solid #808080;
  height: 40px;
  width: 400px;
  border-radius: 4px;
  padding: 0 10px;
}

.inputLabel ~ input[type="tel"],
input[type="email"] {
  width: 265px;
}
.selectContainer > select {
  height: 40px;
  width: 150px;
  padding: 10px;
  border-radius: 4px;
  font-size: 12px;
}

.selectContainer > select:invalid {
  color: #808080;
}

/*Step 2*/
.radioGroup {
  display: flex;
  align-items: center;
  width: 450px;
  height: 50px;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  cursor: pointer;
  position: relative;
}

.radioGroup:hover ~ .boxBorder {
  border: 1px #2a2a2a solid;
}

.radioInfo {
  width: 100%;
  margin-left: 1.5rem;
}
.radioTitle {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.radioPeriod {
  font-size: 12px;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  border-radius: 50%;
  border: 1px solid #2a2a2a;
  cursor: pointer;
}

input[type="radio"]:checked {
  box-shadow: inset 0px 0px 0px 5px#000;
}

.radioPrice {
  font-size: 12px;
}

.boxBorder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 4px;
  border: 1px #f0f0f5 solid;
}

input[type="radio"]:checked ~ .boxBorder {
  border: 1px solid #2a2a2a;
}
