* {
  margin: 0;
  padding: 0;
  box-sizing: border;
}

a {
  text-decoration: none;
  color: #000;
}
.mainWrapper{
  display: flex; 
  flex: 1;
}
.mainContainer {
  flex: 1;
  padding: 50px;
  /* border: 1px blue solid; */
}
.formsContainer {
    /* border: 1px red solid; */
    height: 50vh;
}
