.progressControlContainer {
  border-top: 1px solid #e6e6eb;
  position: relative;
  bottom: 0;
  width: 100%;
  padding-top: 1.5rem;
}

.buttonGroup {
  display: flex;
  justify-content: space-between;
}
.prevBtn {
  height: 46px;
  width: 174px;
  border-radius: 8px;
  background-color: #ffffff;
  border: none;
  color: #000;
  text-align: left;
  cursor: pointer;
}

.nextBtn {
  height: 46px;
  width: 174px;
  border-radius: 8px;
  background-color: #f67599;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-left: auto;
}
