.mainContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 70px auto 200px;
}

.registerTitle {
  font-size: 32px;
  font-weight: 700;
  text-align: left;
}

.progressContainer {
  display: flex;
  height: 36px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.progressGroup {
  display: flex;
  align-items: center;
}

.progressIcon {
  position: relative;
}

.circleCurrent {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #000;
}

.progressNumCurrent {
  position: absolute;
  color: #000;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.circleDone {
  width: 30px;
  height: 30px;
  background-color: #000;
  border-radius: 50%;
  border: 1px solid #000;
}

.progressNumDone {
  position: absolute;
  color: #FFF;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.progressNumUndone {
  position: absolute;
  color: #fff;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.progressLabel {
  margin-left: 10px;
}

.progressBar {
  display: flex;
  flex: 1;
  max-width: 60px;
  height: 2px;
  margin: 0px 8px;
  background-color: #000;
  justify-content: flex-start;
}